<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhxfun.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.zhxfun.entity.SysUser">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="ERR_LGN_CNT" jdbcType="INTEGER" property="errLgnCnt" />
    <result column="RSET_PSW_MARK" jdbcType="INTEGER" property="rsetPswMark" />
    <result column="IDT_TYPE" jdbcType="VARCHAR" property="idtType" />
    <result column="IDT_NO" jdbcType="VARCHAR" property="idtNo" />
    <result column="EMP_ID" jdbcType="VARCHAR" property="empId" />
    <result column="USER_TYPE" jdbcType="CHAR" property="userType" />
    <result column="LOGIN_IP" jdbcType="VARCHAR" property="loginIp" />
    <result column="LOGIN_DATE" jdbcType="VARCHAR" property="loginDate" />
    <result column="LOGIN_TIME" jdbcType="VARCHAR" property="loginTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ADDR" jdbcType="VARCHAR" property="addr" />
    <result column="CARD_NAME" jdbcType="VARCHAR" property="cardName" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="STAT" jdbcType="INTEGER" property="stat" />
    <result column="CLOSE_DATE" jdbcType="VARCHAR" property="closeDate" />
    <result column="HEAD_IMG" jdbcType="VARCHAR" property="headImg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USER_ID, ORG_ID, USER_NAME, PWD, ERR_LGN_CNT, RSET_PSW_MARK, IDT_TYPE, IDT_NO, EMP_ID, 
    USER_TYPE, LOGIN_IP, LOGIN_DATE, LOGIN_TIME, REMARK, ADDR, CARD_NAME, EMAIL, POSITION, 
    PHONE, MOBILE, SEX, STAT, CLOSE_DATE, HEAD_IMG
  </sql>
  <select id="selectByExample" parameterType="com.zhxfun.entity.SysUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhxfun.entity.SysUserExample">
    delete from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhxfun.entity.SysUser">
    insert into sys_user (USER_ID, ORG_ID, USER_NAME, 
      PWD, ERR_LGN_CNT, RSET_PSW_MARK, 
      IDT_TYPE, IDT_NO, EMP_ID, 
      USER_TYPE, LOGIN_IP, LOGIN_DATE, 
      LOGIN_TIME, REMARK, ADDR, 
      CARD_NAME, EMAIL, POSITION, 
      PHONE, MOBILE, SEX, 
      STAT, CLOSE_DATE, HEAD_IMG
      )
    values (#{userId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{errLgnCnt,jdbcType=INTEGER}, #{rsetPswMark,jdbcType=INTEGER}, 
      #{idtType,jdbcType=VARCHAR}, #{idtNo,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, 
      #{userType,jdbcType=CHAR}, #{loginIp,jdbcType=VARCHAR}, #{loginDate,jdbcType=VARCHAR}, 
      #{loginTime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{cardName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{stat,jdbcType=INTEGER}, #{closeDate,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhxfun.entity.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
      <if test="errLgnCnt != null">
        ERR_LGN_CNT,
      </if>
      <if test="rsetPswMark != null">
        RSET_PSW_MARK,
      </if>
      <if test="idtType != null">
        IDT_TYPE,
      </if>
      <if test="idtNo != null">
        IDT_NO,
      </if>
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="loginIp != null">
        LOGIN_IP,
      </if>
      <if test="loginDate != null">
        LOGIN_DATE,
      </if>
      <if test="loginTime != null">
        LOGIN_TIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="addr != null">
        ADDR,
      </if>
      <if test="cardName != null">
        CARD_NAME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="stat != null">
        STAT,
      </if>
      <if test="closeDate != null">
        CLOSE_DATE,
      </if>
      <if test="headImg != null">
        HEAD_IMG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="errLgnCnt != null">
        #{errLgnCnt,jdbcType=INTEGER},
      </if>
      <if test="rsetPswMark != null">
        #{rsetPswMark,jdbcType=INTEGER},
      </if>
      <if test="idtType != null">
        #{idtType,jdbcType=VARCHAR},
      </if>
      <if test="idtNo != null">
        #{idtNo,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=CHAR},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null">
        #{loginDate,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="stat != null">
        #{stat,jdbcType=INTEGER},
      </if>
      <if test="closeDate != null">
        #{closeDate,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhxfun.entity.SysUserExample" resultType="java.lang.Long">
    select count(*) from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_user
    <set>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null">
        ORG_ID = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null">
        PWD = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.errLgnCnt != null">
        ERR_LGN_CNT = #{record.errLgnCnt,jdbcType=INTEGER},
      </if>
      <if test="record.rsetPswMark != null">
        RSET_PSW_MARK = #{record.rsetPswMark,jdbcType=INTEGER},
      </if>
      <if test="record.idtType != null">
        IDT_TYPE = #{record.idtType,jdbcType=VARCHAR},
      </if>
      <if test="record.idtNo != null">
        IDT_NO = #{record.idtNo,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null">
        EMP_ID = #{record.empId,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        USER_TYPE = #{record.userType,jdbcType=CHAR},
      </if>
      <if test="record.loginIp != null">
        LOGIN_IP = #{record.loginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.loginDate != null">
        LOGIN_DATE = #{record.loginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTime != null">
        LOGIN_TIME = #{record.loginTime,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.addr != null">
        ADDR = #{record.addr,jdbcType=VARCHAR},
      </if>
      <if test="record.cardName != null">
        CARD_NAME = #{record.cardName,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null">
        POSITION = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.stat != null">
        STAT = #{record.stat,jdbcType=INTEGER},
      </if>
      <if test="record.closeDate != null">
        CLOSE_DATE = #{record.closeDate,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null">
        HEAD_IMG = #{record.headImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_user
    set USER_ID = #{record.userId,jdbcType=VARCHAR},
      ORG_ID = #{record.orgId,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      PWD = #{record.pwd,jdbcType=VARCHAR},
      ERR_LGN_CNT = #{record.errLgnCnt,jdbcType=INTEGER},
      RSET_PSW_MARK = #{record.rsetPswMark,jdbcType=INTEGER},
      IDT_TYPE = #{record.idtType,jdbcType=VARCHAR},
      IDT_NO = #{record.idtNo,jdbcType=VARCHAR},
      EMP_ID = #{record.empId,jdbcType=VARCHAR},
      USER_TYPE = #{record.userType,jdbcType=CHAR},
      LOGIN_IP = #{record.loginIp,jdbcType=VARCHAR},
      LOGIN_DATE = #{record.loginDate,jdbcType=VARCHAR},
      LOGIN_TIME = #{record.loginTime,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      ADDR = #{record.addr,jdbcType=VARCHAR},
      CARD_NAME = #{record.cardName,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      POSITION = #{record.position,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      STAT = #{record.stat,jdbcType=INTEGER},
      CLOSE_DATE = #{record.closeDate,jdbcType=VARCHAR},
      HEAD_IMG = #{record.headImg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhxfun.entity.SysUser">
    update sys_user
    <set>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="errLgnCnt != null">
        ERR_LGN_CNT = #{errLgnCnt,jdbcType=INTEGER},
      </if>
      <if test="rsetPswMark != null">
        RSET_PSW_MARK = #{rsetPswMark,jdbcType=INTEGER},
      </if>
      <if test="idtType != null">
        IDT_TYPE = #{idtType,jdbcType=VARCHAR},
      </if>
      <if test="idtNo != null">
        IDT_NO = #{idtNo,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        EMP_ID = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=CHAR},
      </if>
      <if test="loginIp != null">
        LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null">
        LOGIN_DATE = #{loginDate,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        LOGIN_TIME = #{loginTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        ADDR = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        CARD_NAME = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="stat != null">
        STAT = #{stat,jdbcType=INTEGER},
      </if>
      <if test="closeDate != null">
        CLOSE_DATE = #{closeDate,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        HEAD_IMG = #{headImg,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhxfun.entity.SysUser">
    update sys_user
    set ORG_ID = #{orgId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR},
      ERR_LGN_CNT = #{errLgnCnt,jdbcType=INTEGER},
      RSET_PSW_MARK = #{rsetPswMark,jdbcType=INTEGER},
      IDT_TYPE = #{idtType,jdbcType=VARCHAR},
      IDT_NO = #{idtNo,jdbcType=VARCHAR},
      EMP_ID = #{empId,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=CHAR},
      LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      LOGIN_DATE = #{loginDate,jdbcType=VARCHAR},
      LOGIN_TIME = #{loginTime,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ADDR = #{addr,jdbcType=VARCHAR},
      CARD_NAME = #{cardName,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      STAT = #{stat,jdbcType=INTEGER},
      CLOSE_DATE = #{closeDate,jdbcType=VARCHAR},
      HEAD_IMG = #{headImg,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>