<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 数据库模式名 -->
	<properties>
        <property name="JMMC" value="jmmc"/>
	</properties>
	<!-- sql print -->
	<settings>
		<setting name="logImpl" value="SLF4J" />
		<setting name="logPrefix" value="dao." />
	</settings>
</configuration>
